<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="firefoxTest">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="scripts.TestScripts"/>
    </classes>
    </test>
    <test thread-count="5" name="chromeTest">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="scripts.TestScripts"/>
      </classes>
  </test> 
</suite> <!-- Suite -->
